# Eclipse IDE files
/**/.classpath
/**/.project
/**/.settings

# IntelliJ IDE files
/.idea
/**/*.iml

# project builds
/build-info.json
/**/target

# log files
/**/*.log

# Node.JS products
/**/node
/**/node_modules
/**/npm-debug.log
